{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Entre Aceros</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'images/favicon.png' %}" rel="icon">
  <link href="{% static 'images/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style-obras.css' %}" rel="stylesheet">
</head>

<body>

  <!--Main Navigation-->
  <header>
    <!-- Intro settings -->
    <style>
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 58px;
      }

      @media (max-width: 991px) {
        #intro {
          /* Margin to fix overlapping fixed navbar */
          margin-top: 45px;
        }
      }
    </style>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" target="_blank" href="index.html">
          <img src="{% static 'images/Logo/05.png' %}" height="50" alt="" loading="lazy"
            style="margin-top: -3px;" />
        </a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'servicios' %}">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'obras' %}">Obras</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
  </header>
  <br><br><br><br>
  <!--Main Navigation-->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Detalles de la Obra</h2>
          <ol>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="portfolio.html">Obras</a></li>
            <li>Detalles de la Obra</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{% static 'images/obras_imagenes/obra_general_rodriguez/obra_general_rodriguez_1.jpg' %}" alt="" style="width: 736px; height:552px;">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'images/obras_imagenes/obra_general_rodriguez/obra_general_rodriguez_2.jpg' %}" alt="" style="width: 736px; height:552px;">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'images/obras_imagenes/obra_general_rodriguez/obra_general_rodriguez_3.jpg' %}" alt="" style="width: 736px; height:552px;">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'images/obras_imagenes/obra_general_rodriguez/obra_general_rodriguez_4.jpg' %}" alt="" style="width: 736px; height:552px;">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'images/obras_imagenes/obra_general_rodriguez/obra_general_rodriguez_5.jpg' %}" alt="" style="width: 736px; height:552px;">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'images/obras_imagenes/obra_general_rodriguez/obra_general_rodriguez_6.jpg' %}" alt="" style="width: 736px; height:552px;">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'images/obras_imagenes/obra_general_rodriguez/obra_general_rodriguez_7.jpg' %}" alt="" style="width: 736px; height:552px;">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'images/obras_imagenes/obra_general_rodriguez/obra_general_rodriguez_8.jpg' %}" alt="" style="width: 736px; height:552px;">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'images/obras_imagenes/obra_general_rodriguez/obra_general_rodriguez_9.jpg' %}" alt="" style="width: 736px; height:552px;">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'images/obras_imagenes/obra_general_rodriguez/obra_general_rodriguez_10.jpg' %}" alt="" style="width: 736px; height:552px;">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Información de la Obra</h3>
              <ul>
                <li><strong>Ubicación:</strong> General Rodriguez - Buenos Aires</li>
                <li><strong>Tipo de Trabajo:</strong> Steel Framing - Obra Gris</li>
                <li><strong>Fecha:</strong> 2015</li>
              </ul>
            </div>
            <!--
              <div class="portfolio-description">
              <h2>This is an example of portfolio detail</h2>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
            </div>
            -->
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>