{% load static %}
<section id="about">
    <div class="container">
        {% block about %}
        <div class="col-md-12">
            <div class="heading">
                <h2>{% block titulo_about %}SOBRE <span>NOSOTROS {% endblock titulo_about %}</span></h2>
                <p style="font-size: 16px;"><span><strong>S</strong></span>omos una empresa dedicada hace ya más de 13
                    años a
                    la industria
                    <b>Metalurgica</b>
                    y <b>Construcciones en seco</b>. Somos innovadores y confiables, nos ocupamos diariamente de estar
                    Capacitados,
                    priorizamos a cada uno de nuestros clientes y sus necesidades.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ab-sec">
                <div class="col-md-8">
                    <h3 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>N</span>uestra
                        Mision:
                    </h3>
                    <p style="font-size: 14px;">
                    <h5>Brindar soluciones que permitan prolongar la vida
                        util de las piezas y
                        componentes, ocupandonos de la restauración y reutilización de todo tipo de estructuras
                        metalicas.</h5>
                    </p>
                    <h3 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>V</span>isión:
                    </h3>
                    <p style="font-size: 14px;">
                    <h5>Ser una empresa generadora de valores tangibles
                        para nuestros clientes
                        priorizando siempre el desarrollo, innovación y el cuidado por excelencia a nuestros trabajos.
                    </h5>
                    </p>
                </div>
                <div class="col-md-4 ab-sec-img wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms"><img
                        src="{% static 'images/Logo/entre_aceros.png' %}" alt=""> </div>
            </div>
        </div>
        {% endblock about %}
    </div>
</section>

<!--About-Sec-2-Start-->
<div class="bg-sec">
    <div class="container">
        <div class="col-md-10 col-sm-10 col-xs-8">
            <h3></h3>
            <p></p>
        </div>
    </div>
</div>